@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,900&display=swap');

:root {
  --background: #282828;
  --foreground: #f1f1f1;
  --orange: #f18260;
  --blue: #92bfbf;
  --yellow: #ede480;
  --gray: #3c3c3c;
  --gray-light: #4c4c4c;
}

* {
  font-family: 'Source Code Pro', monospace;
}

.orange,
.orange>* {
  color: var(--orange);
}

.blue,
.blue>* {
  color: var(--blue);
}

.yellow,
.yellow>* {
  color: var(--yellow);
}

.section {
  width: 100vw;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--foreground);
}

.section.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.section.home>.nav,
.section.home>.social {
  width: 100%;
}

.section.home>.nav>ul,
.section.home>.social>ul {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}

.section.home>.nav>ul {
  flex-direction: row-reverse;
}

.section.home>.social>ul {
  flex-direction: row;
}

.section.home>.nav>ul>li,
.section.home>.social>ul>li {
  margin: 20px;
}

.section.home>.nav>ul>li>a,
.section.home>.social>ul>li>a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}


.section.home>.main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.section.about {
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.section.about>.left,
.section.about>.right {
  display: flex;
  flex-direction: column;
  margin: auto;
}


.section.about>.right>h1 {
  font-size: 256px;
}

.heading {
  font-style: italic;
  font-weight: 900;
}

.section.about>.left {
  max-width: 900px;
}

.section.projects {
  padding: 0 40px 40px 40px;
}

.section.projects > .project-item {
  margin: 20px 0;
}

.section.projects > .project-item > a {
  font-weight: 600;
}

.section.awards {
  padding: 0 40px 40px 40px;
}

.section.awards > .project-item {
  margin: 20px 0;
}

.section.awards > .project-item > a {
  font-weight: 600;
}

@media only screen and (max-width: 1550px) {
  .section.about {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .section.about>.right>h1 {
    font-size: 128px;
  }
}